%*****************************************************************************
%* Filename:    
%* Creater:     Craig Files (?? ??, 1998)
%*****************************************************************************

\documentclass[semhelv,fancybox,article]{seminar}
\addpackage{pstricks}
\addpackage{psfig}

\def\printlandscape{\special{landscape}}
\slidestyle{empty} % removes label being placed in article option

%\slidestyle{bottom} % places labels on the bottom of slides 
\slidesmag{5}
\articlemag{1}
%\twoup                     % Try me for twoup printing.

%\portraitonly              % To print only portrait slides
%\landscapeonly             % To print only landscape slides
%\notslides{1-12}           % The slides(1-12) are omitted.
%\onlyslides{\ref{questions}-7,1}  % Only these slides are included.

%\overlaysfalse             % Suppress overlays with semcolor option.
%\layersfalse               % Suppress color layers with semcolor option.

\rotateheaderstrue          % Try this out if using rotation macros.

\slideframe{none}
%\slideframe{Oval}

\input pstricks
\input {psfig.sty}

%*****************************************************************************
% Create the label
%*****************************************************************************
\newpagestyle{MH}%
  {\underline {Machine Learning and Decomposition~~~~~~~~~~~~~~~~~~~~~
               POLO, Feb. 6, 1997, page \thepage}} {}
\pagestyle{MH}
\date{}
\begin {document}

%*****************************************************************************
% Introduction slide
%*****************************************************************************
\begin {slide}
\slidepagestyle{empty}

\title{ Multi-Valued Functional Decomposition as a Machine Learning Method}
\author{
Craig M. Files  \hspace{2cm} Marek A.~Perkowski \\
  Department of Electrical Engineering\\
  Portland State University \\
  Portland, OR 97207-0751, USA \\
  email: cfiles@ee.pdx.edu \\
}

\maketitle
\addtocounter{slide}{-1}
\end {slide}

\centerslidesfalse % doesn't center slides top-to-bottom

%*****************************************************************************
% First slide
%*****************************************************************************
\begin{slide}
\large Introduction
\normalsize
  Text
\end{slide}
%*****************************************************************************
% 2nd ...
%*****************************************************************************
\begin{slide}
\large Introduction
\normalsize
  Text
\end{slide}

\end{document}
