\newtheorem{theorem}{Theorem}%[section]
\newtheorem{lemma}{Lemma}%[section]
\newtheorem{corollary}{Corollary}%[section]
\newtheorem{example}{Example}%[section]
\newtheorem{definition}{Definition}%[section]

\documentclass[twocolumn,10pt]{article}
\usepackage{psfig}
\usepackage{times}
\usepackage{latex8}
\pagestyle{empty}
\begin{document}

\title{XXXX}

\author{
Craig M. Files  \hspace{2cm} Marek A.~Perkowski \\
  Department of Electrical Engineering\\
  Portland State University \\
  Portland, OR 97207-0751, USA \\
  email: cfiles@ee.pdx.edu \\
}
\maketitle
\thispagestyle{empty}

\begin{abstract}

XXX

\end{abstract}

\Section{Introduction}\label{se:intro}


\bibliographystyle{latex8}
\bibliography{latex8}
\end{document}

